boto3
python-dotenv
numpy
pandas
pyarrow
pyyaml
google-genai
pydantic
tqdm
ipython
matplotlib
seaborn
pillow
plotly
scipy
scikit-learn
joblib
catboost==1.2.10
lightgbm==4.6.0
nbformat
jinja2
mlflow==3.12.0

# линтеры (код-стайл)
ruff==0.15.16
flake8==7.3.0
